@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

@import "tailwindcss";

@theme {
  --color-primary400: #f18827;
  --color-primary500: #DD710E;
  --color-primary600: #b85e0c;
  --color-primary700: #934b09;
  --color-secondary800: #0e1a5d;
  --color-secondary900: #070d2e;
  --color-neutral500: #DD710E;
  --color-neutral50: #f6f6f7;

  --font-inter: 'Inter', system-ui;
  --font-typewriter: 'Special', system-ui;

  --bg-home-radial: radial-gradient(#0e1a5d, #070d2e);
}

body {
  background: radial-gradient(#0e1a5d, #070d2e);
  margin: 0;
  /* display: flex; */
  position: relative;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  color: #f6f6f7;
  font-family: 'Special';
}

.typing {
  border-right: 1px solid #f6f6f7;
  animation: 
    blinking 1s steps(1, end) infinite
}

@keyframes blinking {
  0% { border-color: transparent }
  50% { border-color: #f6f6f7 }
  100% { border-color: transparent }
}